/* App.css */

/* Reset default margins and padding */
body, h1, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  margin-top: 20px;
  font-size: 28px;
  margin-bottom: 20px;
  color: #000000;
}

textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.SummarizeButton {
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.SummarizeButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.SummarizeButton:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.7);
}

.InputComponent {
  text-align: center;
}


.SummaryComponent {
  text-align: left;
}

.summaryText {
  margin: 10px 0;
}

.summary-box {
  width: 95%;
  margin: 20px auto;
  border-radius: 5px;
}

.more-button{
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
  font-size: 12px;
  margin: 3px 0;
}


.table-bordered {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: left; 
}

.table-bordered thead th {
  background-color: #f2f2f2; 
  color: black; 
}